.Topic
  .Topic__Top
    = link_to "スレッド新規作成", new_post_path, class: 'Topic__New'
    .panel.form
      -# = form_with(model: @post, local: true) do |f|
        %div
          .form--label タイトル
          .form--input
            = f.text_field :title, class: 'form--title'
        %div
          .form--label 内容
          .form--input
            = f.text_field :content, class: 'form--title'
          = icon('fas', 'image', class: 'form--icon')
          = f.file_field :image, class: 'form--iamge'
        = f.submit 'スレッドを作成する'
  .Post__Info
    - @posts.each do |post|
      .Post__Title
        タイトル
        = post.title
      .Post__Content
        内容
        = post.content