.Topic
  .Topic__Top
    = link_to "スレッド新規作成", new_post_path, class: 'Topic__New'
    .panel.form
      -# = form_with(model: @post, local: true) do |f|
        %div
          .form--label タイトル
          .form--input
            = f.text_field :title, class: 'form--title'
        %div
          .form--label 内容
          .form--input
            = f.text_field :content, class: 'form--title'
          = icon('fas', 'image', class: 'form--icon')
          = f.file_field :image, class: 'form--iamge'
        = f.submit 'スレッドを作成する'
  .Message__Info
    - @posts.each do |post|
      .Message__Title
        = post.title(user.id)
      .Message__Content
        = post.content(user.id)
  -# .Topic__Body
  -#   -# - @posts.each do |post|
  -#     .Topic__Row
  -#       = post.title 
  -#       = link_to post_path
  -#     -# .Topic__Row
  -#     -#   = post.content 