.wrapper__bg
  .container
    = link_to "スレッド一覧に戻る", posts_path 
    %hr
    %h1 新規スレッド作成
    %form.Form-Horizontal
      .Form-Group
        = form_with(model: @post, local: true) do |f|
          %div
            = f.label :title, "タイトル:"
            .Form-Control
              = f.text_field :title, class: "form-control"
          %div
            = f.label :content, "内容"
            .form--input
              = f.text_field :content, class: "form-control"
            = icon('fas', 'image', class: 'form--icon')
            = f.file_field :image, class: 'form--Input--Image'
          = f.submit 'スレッドを作成する' , class: "btn btn-info"
