.contents.row
  .content_post{:style => "background-image: url(#{@post.image});"}
    - if user_signed_in? && current_user.id == @post.user_id
      .more
    %span.name
      %a{:href => "/users/#{@post.user.id}"}
        %span 投稿者
        = @post.user.name
        %p= @post.content
        = image_tag @post.image, alt: '', height: '', width: '', class: ''
  .container
    - if current_user
      -# = form_with(model: [@post, @comment], local: true ) do |form|
        = form.text_area :text, placeholder: "コメントする", rows: "2", class: "textbox"
        = form.submit "SEND", class: "form__submit"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to comment.user.nickname, "/users/#{comment.user_id}"
              ：
            = comment.text


-# .container
-#   = @post.title
-#   %span.name
-#   = @post.content
-#   .tab-content
-#   #msgs.tab-pane.fade.show.active{:role => "tabpanel"}
-#     \:
-#   #frms.tab-pane.fade{:role => "tabpanel"}
-#     \:

  -# - if @comments
  -# - @comments.each do |comment|
  -#   %p
  -#     %strong
  -#       = link_to comment.user.nickname, "/users/#{comment.user_id}"
  -#       ：
  -#     = comment.text

